/*----------------- Global -----------------*/
:root {
    --bg-section: #edf2ec;
    --links-nav: #010201;
    --green: #499a18;
    --orange: #e06733;
    --text: #636060;
    --title: #717171;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    background: white;
    line-height: 1.5;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    /*overflow: hidden;*/
}

.section__bg {
    position: absolute;
    width: 100vw;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
    background: var(--bg-section);
}

.block-wrapper {
    display: flex;
    align-items: center;
    max-width: 1222px;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    pointer-events: auto;
    text-align: center;
    background: transparent;
    border: 1px solid var(--orange);
    border-radius: 5px;
    color: var(--orange);
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    max-width: 100%;
    min-height: 50px;
    min-width: 161px;
    width: 161px;
    outline: none;
    padding: 0 27px;
    transition-duration: 256ms;
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
}

.button:hover {
    background: var(--orange);
    color: white;
}

.button span {
    align-items: center;
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    font-family: 'Inika', sans-serif;
}

h1 {
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 50px;
    color: var(--title);
}

h2 {
    font-size: 40px;
    font-family: 'Inika', sans-serif;
    font-weight: 400;
    line-height: 52px;
    color: var(--title);
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: var(--orange);
}

a,
p,
span {
    font-size: 20px;
    font-weight: 400;
}

p {
    color: var(--text);
}

/*----------------- Header -----------------*/

.header {
    display: block;
    background-color: var(--bg-section);
}

.header__body {
    position: relative;
    padding: 42px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 134px;
}

.header__menu {
    width: 100%;
    overflow: auto;
}

.header__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header__list li {
    margin-left: 47px;
}

.header__list li:nth-child(2) {
    margin-left: 46px;
    width: 65px;
}

.header__list a {
    font-family: 'Inika', sans-serif;
    font-size: 16px;
    color: var(--links-nav);
    white-space: nowrap;
    transition: all 0.3s ease 0s;
}

.header__list a:hover {
    color: var(--orange);
    font-weight: 700;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.header__logo img {
    margin-bottom: 8px;
}

.header__logo p {
    font-family: 'Inika', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.header__burger {
    display: none;
}

/*----------------- Main -----------------*/

.main__padding {
    padding: 0 110px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/*----------------- main__welcome -----------------*/

.main__welcome {
    position: relative;
    z-index: 5;
    padding-bottom: 55px;
    padding-top: 55px;
    background: var(--bg-section);
}

.welcome__container > div {
    width: calc(50% - 5px);
}

.welcome__text {
    padding-left: 55px;
}

.welcome__text h1 {
    margin-bottom: 42px;
}

.welcome__text p {
    max-width: 525px;
    line-height: 35px;
    margin-bottom: 48px;
}

.welcome__text > h1 span {
    font-size: 45px;
    font-weight: 700;
    color: var(--green);
}

.welcome__button {
    display: flex;
    align-items: center;
    align-self: center;
    cursor: pointer;
    justify-content: center;
    pointer-events: auto;
    text-align: center;
    background: transparent;
    border: 2px solid var(--orange);
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    min-height: 44px;
    min-width: 158px;
    width: 158px;
    outline: none;
    padding: 0 27px;
    letter-spacing: -0.5px;
    transition-duration: 256ms;
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
}

.welcome__button:hover {
    background: var(--orange);
    color: white;
}

.welcome__button span {
    align-items: center;
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    font-size: 16px;
}

/*----------------- main__about -----------------*/

.main__about {
    padding-top: 100px;
    padding-bottom: 85px;
    background: white;
}

.about__container > div {
    width: calc(50% - 5px);
}

.about__text h2 {
    max-width: 460px;
    margin-bottom: 40px;
    color: var(--green);
}

.about__text > h2 span {
    font-size: 40px;
    font-family: 'Inika', sans-serif;
    font-weight: 400;
    color: var(--orange);
}

.about__text p {
    line-height: 30px;
}

.about__img {
    display: flex;
    justify-content: flex-end;
}

/*----------------- main__service -----------------*/

.main__service {
    position: relative;
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 120px;
    background: var(--bg-section);
}

.service__container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
}

.service__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    max-width: 1006px;
}

.service__title h2 {
    color: var(--green);
    max-width: 310px;
}

.service__buttons {
    display: flex;
    gap: 38px;
}

.service__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 55px;
    margin: 0 -58px;
}

.service__column {
    display: flex;
    flex: 0 0 33.333%;
    padding: 0 58px;
}

.item-service {
    display: flex;
    flex-direction: column;
    background: var(--bg-section);
}

.item-service__text {
    border: 1px solid #e3e1d5;
    border-top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.item-service__text h3 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 13px;
}

.item-service__text p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
    color: var(--title);
}

/*----------------- main__prices -----------------*/

.main__prices {
    padding-top: 45px;
    padding-bottom: 115px;
    background: white;
}

.prices__container > div {
    width: calc(50% - 5px);
}

.prices__accourdion,
.prices__contact {
    display: flex;
    flex-direction: column;
}

.prices__contact {
    gap: 33px;
    align-items: flex-end;
    align-self: flex-start;
}

.prices__contact > h2 {
    color: black;
    line-height: 50px;
    font-weight: 700;
    text-align: end;
    max-width: 455px;
    font-family: 'Inter', sans-serif;
}

.prices__contact > h2 span {
    color: var(--green);
    font-weight: 700;
    font-size: 40px;
}

.prices__accourdion {
    align-self: flex-start;
    gap: 60px;
}

.prices__accourdion > h2 {
    color: black;
    font-weight: 700;
    line-height: 48px;
    font-family: 'Inter', sans-serif;
}

.price__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 34px 41px;
    border: 1px solid #e3e1d5;
    border-radius: 20px;
}

.price {
    width: 250px;
    background: #d6e7d2;
    border-radius: 20px;
}

.price__content {
    box-sizing: border-box;
    height: 50px;
    background: #edf2ec;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.price__content:before {
    content: url('../assets/icons/arrow-close.svg');
    font-size: 20px;
    font-weight: 300;
    width: 16px;
    height: 16px;
    line-height: 7px;
    text-align: center;
    border-radius: 50%;
    background: #d9d9d9;
    position: absolute;
    display: block;
    top: 0;
    right: 42px;
    bottom: 0;
    margin: auto;
}

details[open] div {
    animation: spoiler 1s;
}

@keyframes spoiler {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

details[open] summary {
    background: #d6e7d2;
}

details[open] button:hover {
    cursor: pointer;
    background: var(--orange);
}

details[open] summary:before {
    content: url('../assets/icons/arrow-open.svg');
    font-size: 20px;
    font-weight: 300;
    background: #aea1a1;
    color: white;
}

.price__info {
    margin: 0 40px 0 40px;
    border-top: 0.5px solid #aea1a1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    gap: 5px;
}

.price__info p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    margin: 0;
    padding: 6px 0;
    color: #717171;
}

.price__amount {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.price__amount span {
    color: #e06733;
    font-weight: 700;
}

.price__info button {
    background: #ffffff;
    border-radius: 10px;
    color: #717171;
    border: none;
    font-weight: 400;
    padding: 5px 25px;
}

.price__number {
    font-size: 16px;
}

/*----------------- main__contacts -----------------*/

.main__contacts {
    position: relative;
    z-index: 10;
    padding-top: 50px;
    background: var(--bg-section);
}

.contacts__img {
    width: calc(33% - 5px);
}

.contacts__content {
    width: calc(67% - 5px);
    align-self: flex-start;
}

.contacts__content > h2 {
    color: var(--green);
    font-weight: 700;
    margin-bottom: 36px;
    margin-left: 13%;
    margin-top: 10px;
}

.contacts__content .dropdown {
    margin-left: auto;
}

.dropdown {
    max-width: 450px;
    position: relative;
}

.select {
    background: #d6e7d2;
    color: var(--title);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 50px;
    padding: 5px 35px 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.select-clicked {
    background: #c1e698;
    box-shadow: none;
}

.caret {
    position: relative;
    background: #aea1a1;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.caret img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caret-rotate {
    background: #8ba07e;
    transform: rotate(0deg);
}

.menu {
    padding: 27px 35px;
    background-color: #dce9d9;
    color: var(--title);
    position: absolute;
    top: 50px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu > li {
    cursor: pointer;
    color: var(--green);
    border-bottom: 1px solid #d9d9d9;
    line-height: 40px;
}

.menu > li:not(:last-child) {
    margin-bottom: 12px;
}

.menu li:hover {
    color: var(--title);
    border-bottom: 1px solid var(--title);
}

.menu-open {
    display: block;
    opacity: 1;
}

/*----------------- Footer -----------------*/

.footer {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 130px;
}

.footer__container {
    display: flex;
    align-items: center;
    gap: 0;
    transition: all 0.3s ease-in-out;
}

.footer__github,
.footer__rsschool,
.footer__list {
    flex: 0 0 33.33%;
}
.footer__rsschool,
.footer__github {
    color: black;
    line-height: 50px;
}

.footer__github {
    word-spacing: 15px;
}

.footer__github {
    display: flex;
    gap: 19px;
}

.footer__github a,
.footer__github p {
    color: black;
    line-height: 50px;
}

.footer__rsschool {
    text-align: center;
}

.footer__social {
    margin-left: auto;
}

.footer__list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer__container a:hover {
    transform: scale(1.02);
    transition: transform 0.1s ease-in-out;
}

.footer__list > li:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

/*----------------- media -----------------*/

@media (max-width: 1439px) {
    .header__body {
        padding: 35px 50px;
        height: 117px;
    }

    .main__padding {
        padding-left: 50px;
        padding-right: 50px;
    }

    .service__column {
        flex: 0 0 50%;
    }

    .footer {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .footer__container {
        flex-direction: column;
        gap: 16px;
    }
    .footer__social {
        margin-left: unset;
    }

    .footer__rsschool,
    .footer__github {
        color: black;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }

    .header__body {
        padding: 25px 36px;
        height: 96px;
    }

    .header__body:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-section);
        z-index: 2;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-left: auto;
        cursor: pointer;
    }

    .header__burger::before,
    .header__burger:after {
        content: '';
        background-color: var(--title);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        background-color: var(--title);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__body {
        height: 96px;
        padding: 36px 25px;
    }

    .header__menu {
        position: absolute;
        display: flex;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
        /*transform: translateY(-100%);*/
        top: -300%;
        left: 0;
        width: 100%;
        height: 250px;
        background-color: var(--green);
        z-index: 1;
        transition: all 0.3s ease;
    }

    .header__menu.active {
        /*transform: translateY(0);*/
        top: 96px;
    }

    .header__list {
        flex-direction: column;
    }

    .header__list > li {
        margin-left: 0;
    }

    .header__list li:nth-child(2) {
        margin-left: 0;
    }

    .header__list > li:not(:last-child) {
        margin-bottom: 20px;
    }

    .main__padding {
        padding-left: 25px;
        padding-right: 25px;
    }

    .service__column {
        flex: 0 0 100%;
    }
}
